version: '3.8'

services:
  # Zookeeper Instances
  zookeeper-1:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_SERVERS: "server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181"
    volumes:
      - zookeeper_data_1:/data
      - zookeeper_logs_1:/datalog
    networks:
      - kafka-network


  zookeeper-2:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2182:2181"
    environment:
      ZOO_MY_ID: 2
      ZOO_SERVERS: "server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181"
    volumes:
      - zookeeper_data_2:/data
      - zookeeper_logs_2:/datalog
    networks:
      - kafka-network


  zookeeper-3:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2183:2181"
    environment:
      ZOO_MY_ID: 3
      ZOO_SERVERS: "server.1=zookeeper-1:2888:3888;2181 server.2=zookeeper-2:2888:3888;2181 server.3=zookeeper-3:2888:3888;2181"
    volumes:
      - zookeeper_data_3:/data
      - zookeeper_logs_3:/datalog
    networks:
      - kafka-network


  # Kafka Brokers
  kafka-1:
    image: wurstmeister/kafka:latest
    hostname: kafka-1
    ports:
      - "19092:9092"
      - "1099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-1:19092,EXTERNAL://kafka-1:9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:19092,EXTERNAL://:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 1099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false

    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-2:
    image: wurstmeister/kafka:latest
    hostname: kafka-2
    ports:
      - "29092:9093"
      - "2099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-2:29092,EXTERNAL://kafka-2:9093
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:29092,EXTERNAL://:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 2099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-3:
    image: wurstmeister/kafka:latest
    hostname: kafka-3
    ports:
      - "39092:9094"
      - "3099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-3:39092,EXTERNAL://kafka-3:9094
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:39092,EXTERNAL://:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 3099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-4:
    image: wurstmeister/kafka:latest
    hostname: kafka-4
    ports:
      - "49092:9095"
      - "4099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-4:49092,EXTERNAL://kafka-4:9095
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:49092,EXTERNAL://:9095
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 4099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-5:
    image: wurstmeister/kafka:latest
    hostname: kafka-5
    ports:
      - "59092:9096"
      - "5099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-5:59092,EXTERNAL://kafka-5:9096
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:59092,EXTERNAL://:9096
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 5099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-6:
    image: wurstmeister/kafka:latest
    hostname: kafka-6
    ports:
      - "19093:9097"
      - "6099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-6:19093,EXTERNAL://kafka-6:9097
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:19093,EXTERNAL://:9097
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 6099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-7:
    image: wurstmeister/kafka:latest
    hostname: kafka-7
    ports:
      - "29093:9098"
      - "7099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-7:29093,EXTERNAL://kafka-7:9098
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:29093,EXTERNAL://:9098
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 7099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network


  kafka-8:
    image: wurstmeister/kafka:latest
    hostname: kafka-8
    ports:
      - "39093:9099"
      - "8099:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-8:39093,EXTERNAL://kafka-8:9099
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:39093,EXTERNAL://:9099
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 8099
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network

  kafka-9:
    image: wurstmeister/kafka:latest
    hostname: kafka-9
    ports:
      - "49093:9100"
      - "9999:1099"  # JMX Port
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-9:49093,EXTERNAL://kafka-9:9100
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_LISTENERS: INTERNAL://:49093,EXTERNAL://:9100
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_JMX_PORT: 9999
      KAFKA_JMX_OPTS: -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=1099 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
    depends_on:
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    networks:
      - kafka-network

  cmak:
    image: hlebalbau/kafka-manager:stable
    restart: always
    depends_on:
      - kafka-1
      - kafka-2
      - kafka-3
      - kafka-4
      - kafka-5
      - kafka-6
      - kafka-7
      - kafka-8
      - kafka-9
      - zookeeper-1
      - zookeeper-2
      - zookeeper-3
    ports:
      - 9000:9000
    environment:
      ZK_HOSTS: zookeeper-1:2181,zookeeper-2:2182,zookeeper-3:2183
      KAFKA_MANAGER_AUTH_ENABLED: "true"
      KAFKA_MANAGER_USERNAME: admin
      KAFKA_MANAGER_PASSWORD: password
      JMX-POLLING : "true"
    networks:
      - kafka-network

  chat-service:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://chatuser:chatpassword@mongo:27017/chatdb
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka-1:9092,kafka-2:9093,kafka-3:9094,kafka-4:9095,kafka-5:9096,kafka-6:9097,kafka-7:9098,kafka-8:9099,kafka-9:9100
    ports:
      - "8080:8080"
    depends_on:
      - mongo
      - kafka-1
      - kafka-2
      - kafka-3
      - kafka-4
      - kafka-5
      - kafka-6
      - kafka-7
      - kafka-8
      - kafka-9
    networks:
      - kafka-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
      MONGO_INITDB_DATABASE: admin
    networks:
      - kafka-network

networks:
  kafka-network:
    driver: bridge

volumes:
  mongo_data:
    driver: local
  zookeeper_data_1:
    driver: local
  zookeeper_data_2:
    driver: local
  zookeeper_data_3:
    driver: local
  zookeeper_logs_1:
    driver: local
  zookeeper_logs_2:
    driver: local
  zookeeper_logs_3:
    driver: local
