apiVersion: v1
kind: Service
metadata:
  name: kafka
spec:
  ports:
    - name: client
      port: 9092
      targetPort: 9092
    - name: jmx
      port: 1099
      targetPort: 1099
  selector:
    app: kafka
