apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: kafka
spec:
  serviceName: "kafka-headless"
  replicas: 9
  selector:
    matchLabels:
      app: kafka
  template:
    metadata:
      labels:
        app: kafka
    spec:
      nodeSelector:
        kubernetes.io/hostname: tetrips-kafzoo-np-w-5i5v
      containers:
        - name: kafka
          image: wurstmeister/kafka:latest
          ports:
            - containerPort: 9092
          volumeMounts:
            - name: kafka-data
              mountPath: /var/lib/kafka
            - name: kafka-config
              mountPath: /etc/kafka/server.properties
              subPath: server.properties
          env:
            - name: KAFKA_ZOOKEEPER_CONNECT
              valueFrom:
                configMapKeyRef:
                  name: kafka-config
                  key: zookeeper.connect
            - name: KAFKA_LISTENER_NAME
              value: PLAINTEXT://:9092
      volumes:
        - name: kafka-data
          emptyDir: {}
        - name: kafka-config
          configMap:
            name: kafka-config
